body {
    margin-top: 0px;
    line-height: 1.6em;
    font-size: 13px;
    height: 100%;
    font-family: Arial;
    color: #1d2129;
    text-rendering: optimizeLegibility;
    background-color: #eaebef;
    overflow: auto;
    margin: 0,auto;
}
div{
    display:block;
}

#header {
    top: 0;
    left:0;
    margin:0;
    padding:0;
    width: 100%;
    background-color: #355dbd;
    min-height: 44px;
    position: fixed;
    min-width: 960px;
}
*{
    margin:0;
    padding:0;
}
#header #logo{
    margin-right:12px;
    margin-top:5px;
    width:205px;
}
.search-form{
    margin-top:5px;
    flex:1;
    margin-right:12px;
    margin-left:7px;
}
#header #search-form{
    position:relative;
    width:100%;
}
#txtSearch{
    width:100%;

}
.top-userInfor{
    margin-top:7px;
    width:310px;
}
#header #search-form #findWall {
    background: url('../Content/Image/search.png');
    background-repeat:no-repeat!important;
    top: 0;
    margin-top:7px;
    position: absolute;
    right: -2px;
    height: 30px !important;
    width: 37px !important;
    border-radius: 0px 3px 3px 0px;
}
#header #search-form input{
    border:none;
    padding:0,5px;
    height:30px!important;
    background-color:#29478f;
    color:#ffffff;
    font-size:13px;
    border-radius:3px;

}
.left {
    float: left;
}
#settingLink{
    text-align:center;
    display:inline-block;
}
#iconSetting {
    background-image: url('../Content/Image/setting-icon-hover.png')!important;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat !important;
    border-radius: 2px;
}
#iconHelp {
    background-image: url('../Content/Image/help-default.png')!important;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat !important;
    border-radius: 2px;
}
#iconNotication {
    background-image: url('../Content/Image/noti-default.png')!important;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat !important;
    border-radius: 2px;
}
.right{
    float:right;
}
.wrapper {
    margin: 0 auto;
    padding: 0;
}
.flex{
    display:-webkit-flex;
}
.clear{
    clear:both;
}
/*-------------------------------------------------------------------------------*/


#container{
    margin-top:10px;
    height:auto;
    width:100%;
    max-width:1195px;
    min-width:960px;

}
#container #menuLeft{
    width:205px;
    margin-left:0%;
    margin-top: 44px;
    min-height:100px;
    margin-right:10px;
    position:fixed;
    float:left;
}
.btn{
    height:30px;
    width:100%;
    margin-left:0%;
    font-size:13px;
    padding-left:1em;
    text-align:left!important;
    }
    .btn:hover {
        border-radius:5px;
        background: white;
    }
#main{
    margin-top:44px;
    height:500px;
    margin-right:10px;
    margin-left:217px;
    flex:1;
    position:relative;
    border:2px solid red;
    float:left;
}

#main #newStatus{
    border: 1px solid black;
    background-color:white;
    flex:1;
}

    #main #newStatus #purpostStatus {
        float: left;
    }
    #main #newStatus #purpostStatus  li{
        text-align:left;
        float :left;
        list-style:none;
        width:146px;
        height:5px;
    }
#content #newStatus #filter {
    float: left;
    border: 1px solid #808080;
    width: auto;
    height: auto;
}
/*-----------------------------------------------menu right------------------------------------*/
#menuRight{
    margin-top:44px;
    width:310px;
    height:auto;
    float:left;
    background-color:#ffffff;
}
#img-person1 {
    border-radius: 50%;
}
#img-person2 {
    border-radius: 50%;
}


.title_chung {
    margin-left: 20px;
}
.title_chung1 {
    margin-left: 0px;
}


#text_chung {
    margin-left: 5px;
}


.support {
    margin-left: 150px;
}
.support_HTMLMODULE {
    margin-left: 120px;
}
.support_ke_toan {
    margin-left: 170px;
}
.support_ban_hang {
    margin-left: 60px;
}
.module-box {
    background-color: #fff;
    width: 100%;
}
.module-box .title {
    width: 100%;
    height: 40px;
    border-color: #ededed;
    border-radius: 3px;
    border: 1px solid #eff2f4;
}
.module-box .content{
    width: 100%;
    height: auto;
}
.notify-item {
    width: 100%;
    height: auto;
    border: 1px solid #eff2f4;
}